/*Commenting on every single style thing would take way too long 
so I'm going to comment on sections that might not make sense*/
html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	min-height: 100%;
}

body {
	font-family: 'Montserrat';
	padding: 0px;
	margin: 0px;
	width: 100%;
	min-height: 100%;
	background-color: #EAEAEA;
}

h1 {
	
	font-size: 30px;
	font-weight: 300;
	margin-block-start: 2em;
	margin-block-end: 1.5em;
	padding: 0;
}

h2 {
	
	font-size: 24px;
	font-weight: 300;
	margin-block-start: 2em;
	margin-block-end: 2em;
	padding: 0;
}

p {
	font-family: 'Cardo';
	font-size: 20px;
	line-height: 32px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
	
}

ul {
	font-family: 'Cardo';
	font-size: 20px;
	padding-right: 2%;
	list-style-type: none;
}

a:hover {
	
}
a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color:black;
	text-decoration: none;
}
a:active {
	color:grey;
	text-decoration: none;
}

hr {
	width: 90%;
	margin: 0;
	background-color: #EAEAEA;
	border: 2px solid #987A3E;
	color: #987A3E;
	position: absolute;
	left: 5%;
}

/*Special colours used on the website*/
.dark-gold {color: #8E793E}
.light-gold {color: #AD974F}
.intellectual-grey {color: #231F20}
.light-grey {color: #EAEAEA}


#menu {
	position: absolute;
	right: 5%;
	top: 1%;

}

#logo {
	width: 45%;
}

#taskbarTitle {
	position: relative;
	float: left;
	width: 70%;
	left: 2%;
	top: 1%;
}

#menuBtns {
	position: relative;
	float: right;
	opacity: 0.3;
	
	width: 30%;
	
	
	height: 100%;
}


#homeTextBtn {
	text-align: right;
	padding-right: 12%;
	font-family: 'Montserrat';
	color: #EAEAEA;
	font-weight: bold;
	display: block;
    font-size: 1.8em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#homeTextBtn:hover {
	text-decoration: underline;
}

#historyTextBtn {
	text-align: right;
	padding-right: 10%;
	font-family: 'Montserrat';
	color: #EAEAEA;
	font-weight: bold;
	display: block;
    font-size: 1.8em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#historyTextBtn:hover {
	text-decoration: underline;
}
/*This is the parallax effect. I will explain it further in my reflection but
essentially it is an effect that makes section of the website appear as if it is 
gliding over a background image. */
.parallax {
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
}

.coverImg {
	margin: 0;
	width: 100%;
	height: 100vh;
	opacity: 1;
	background-image: url("coverImageBW.jpg");
}

#introduction {
	margin-bottom: 5%;
	margin-top: 5%;
	width: 100%;
	height: auto;
	background-color: #EAEAEA; 
}
#introduction h1 {
	text-align: center;
}
#introduction p {
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
}

#description {
	width: 100%;
	overflow-y: hidden;
	height: auto;
	background-color: #EAEAEA; 
}


#descriptionImg {
	width: 35%;
	height: auto;
	padding-left: 2%;
}
/*right side of the description section*/
#desRight {
	width: 60%;
	height: auto;
	float: right;

}

#desRight p {
	padding-right: 3%;
}

#history {
	overflow-y: hidden;
	
	background-color: #EAEAEA;
	height:auto;
	width: 100%;
	
}
#history ul {
	text-align: left;
	padding-left: 12%;
	padding-right: 12%;
}

#history h1 {
	text-align: center;
	padding-bottom: 3%;
}
#history p {
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}
/*images that are in the history section*/
#hisImgs {
	width: 100%;
}

#hisImgs img {
	padding-left: 2.5%;
	padding-top: 60px;
	padding-bottom: 3%;
	width: 30%;
	height: 350px;
}

#robinBoyd {
	width: 100%;
	height: auto;
	overflow-y: hidden;
}
#robinBoyd h1 {
	text-align: center;
}

#robinBoydImg {
	width: 40%;
	padding: 3%;
}
/*Right side of the Robin boyd section*/
#robRight {
	padding-top: 3%;
	padding-bottom: 5%;
	padding-right: 3%;
	width: 50%;
	float: right;
}

#statement {
	width: 100%;
	height: auto;
	overflow-y: hidden;
	background-color: lightgray;
	text-align: center;
}

#statement p {
	padding-left: 3%;
	padding-right: 3%;
}

#footer {
  	width: 100%;
  	height: 5vh;
  	background-color: #EAEAEA;
  	margin: 0;
  	padding: 0;
  	padding-top: 1%;
}
#footer p {
	text-align: center;
	padding: 0;
	margin: 0;
}
/*Needed different styles for each footer because colouring was a bit different
honestly looking at it now I didn't need to do this but I couldn't be bothered
changing it now. Sorry*/
#historyFooter {
	width: 100%;
  	height: 5vh;
  	background-color: lightgray;
  	margin: 0;
  	padding: 0;
  	padding-top: 1%;
}
#historyFooter p {
	text-align: center;
	padding: 0;
	margin: 0;
}
/*This is the section that makes the website more responsive. The website changes
when the screen size is either 1200px wide or less, then 1100px wide or less, 
then 900px wide or less and finally 800px wide or less. This just makes the website
readable on all devices. i.e phone screen vs laptop screen*/
@media screen and (max-width: 1200px) {
	#descriptionImg {
		width: 100%;
		padding-left: 0%;
	}
	#desRight {
		width: 100%;

	}
	#desRight h1 {
		text-align: center;
	}
	#desRight h2 {
		text-align: center;
	}
	#desRight p {
		text-align: center;
		padding-left: 3%;
	}
}

@media screen and (max-width: 1100px) {
	#robinBoydImg {
		width: 100%;
		padding: 0;
		padding-top: 5%;
	}
	#robRight {
		width: 100%;
	}
	#robRight h1 {
		text-align: center;
	}
	#robRight p {
		padding: 5%;
		text-align: center;
	}
}

@media screen and (max-width: 900px) {
	

	#historyFooter {
		height: 8vh;
	}

}

@media screen and (max-width: 800px) {
	
	
	#hisImgs img {
		width: 95%;
	}
}

